HOST="localhost"
PORT=8000

DB_HOST="localhost"
DB_PORT=5432
DB_USER="postgres"
DB_PASS="postgres"
DB_NAME="web-chat-db"

PRIVATE_KEY_PATH="your_path_to_pems"
PUBLIC_KEY_PATH="your_path_to_pems"
ALGORITHM="your_algo"
ACCESS_TOKEN_EXPIRE_MINUTES=15