ENVIRONMENT=

SERVER_HOST=
SERVER_PORT=

POSTGRES_HOST=
POSTGRES_PORT=
POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_DB=

PRIVATE_KEY_PATH=
PUBLIC_KEY_PATH=
ALGORITHM=
ACCESS_TOKEN_EXPIRE_MINUTES=
REFRESH_TOKEN_EXPIRE_DAYS=
